common --enable_platform_specific_config
common --incompatible_strict_action_env
common --incompatible_enable_proto_toolchain_resolution
common --incompatible_use_plus_in_repo_names

common --per_file_copt=external/.*protobuf.*@--PROTOBUF_WAS_NOT_SUPPOSED_TO_BE_BUILT
common --host_per_file_copt=external/.*protobuf.*@--PROTOBUF_WAS_NOT_SUPPOSED_TO_BE_BUILT
common --per_file_copt=external/.*grpc.*@--GRPC_WAS_NOT_SUPPOSED_TO_BE_BUILT
common --host_per_file_copt=external/.*grpc.*@--GRPC_WAS_NOT_SUPPOSED_TO_BE_BUILT

build --workspace_status_command=$(pwd)/tools/workspace_status.sh

build:linux --sandbox_add_mount_pair=/tmp
build:macos --sandbox_add_mount_pair=/var/tmp
build:windows --sandbox_add_mount_pair=C:\Temp

common:ci --config=remote-linux-amd64
common:ci --build_metadata=ROLE=CI

common:remote-linux-amd64 --config=remote
common:remote-linux-amd64 --platforms=@toolchains_buildbuddy//platforms:linux_x86_64
common:remote-linux-amd64 --extra_execution_platforms=@toolchains_buildbuddy//platforms:linux_x86_64

common:remote --remote_cache_compression
common:remote --jobs=50
common:remote --noslim_profile --experimental_profile_include_target_label --experimental_profile_include_primary_output

build:remote --remote_cache=grpcs://grpcview.buildbuddy.io
build:remote --remote_timeout=10m
build:remote --remote_executor=grpcs://grpcview.buildbuddy.io


build:remote --java_language_version=11
build:remote --tool_java_language_version=11
build:remote --java_runtime_version=remotejdk_11
build:remote --tool_java_runtime_version=remotejdk_11

build:remote --define=EXECUTOR=remote
